<!--  Manage.cshtml
    Assignment 2

    Revision History
    David Florez ID: 8820815, 2023.11.24: Created
-->
@model Course
@{
    ViewData["Title"] = "Manage";
    ViewData["CourseId"] = Model.CourseId;
}

<section class="page-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Manage your course</h1>
            <p>
                <a asp-controller="Courses" asp-action="Index">All courses</a> |
                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.CourseId">Edit this course</a> |
                <a asp-controller="Courses" asp-action="Add">Add new course</a>
            </p>

            <p><strong>Course Summary:</strong></p>
            <p>
                The course <strong>@Model.Name</strong> is in room <strong>@Model.Room</strong> starting on
                <strong>@Model.Start.ToString("MM/dd/yyyy")</strong>  and the instructor is <strong>@Model.Instructor</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><strong>Students:</strong></p>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Enrollment Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Student student in ViewBag.CourseStudents)
                    {
                        // TODO: CREATE AN IF ELSE TO DISPLAY WHEN NO STUDENTS ARE IN THE COURSE
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td>@student.StatusId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><strong>Students:</strong></p>

            <partial name="~/Views/Students/AddStudent.cshtml" model="new Student()"></partial>
            <!--
            <form class="form-wrapper" asp-action="AddStudent" method="post">
                <!-- Validation Error Messages -->
            <!--
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="">
                    <label asp-for="Student.Name">
                        Name
                        <input asp-for="Student.Name" class="form-contr" required />
                        <span asp-validation-for="Student.Name"></span>
                    </label>
                    <label asp-for="Student.Email">
                        Email
                        <input asp-for="Student.Email" class="form-contr" required />
                        <span asp-validation-for="Student.Email"></span>
                    </label>

                    <input type="hidden" asp-for="Course.CourseId" />

                    <button type="submit" class="btn btn-primary">Create Student</button>
                </div>
            </form>
            -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><strong>Actions:</strong></p>
            <p>
                <!-- TODO: Create SENND CONFIRMATION MESSAGES METHOD -->
                <form asp-action="">
                    <button type="submit" class="btn btn-primary">Send confirmation messages</button>
                </form>
            </p>
        </div>
    </div>
</section>

