<!--  Manage.cshtml
    Assignment 2

    Revision History
    David Florez ID: 8820815, 2023.11.24: Created
-->
@model Course
@{
    ViewData["Title"] = "Manage";
    ViewData["CourseId"] = Model.CourseId;
    string statusName = string.Empty;   
}

<section class="page-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Manage your course</h1>
            <p>
                <a asp-controller="Courses" asp-action="Index">All courses</a> |
                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@Model.CourseId">Edit this course</a> |
                <a asp-controller="Courses" asp-action="Add">Add new course</a>
            </p>

            <p><strong>Course Summary:</strong></p>
            <p>
                The course <strong>@Model.Name</strong> is in room <strong>@Model.Room</strong> starting on
                <strong>@Model.Start.ToString("MM/dd/yyyy")</strong>  and the instructor is <strong>@Model.Instructor</strong>
            </p>

            <p>
                <span class="me-3">Invites not sent: @ViewBag.InvitesNotSent</span>
                <span class="me-3">Sent count: @ViewBag.InvitesSent</span>
                <span class="me-3">Confirmed count: @ViewBag.InvitesConfirmed</span>
                <span class="me-3">Declined count: @ViewBag.InvitesDeclined</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p><strong>Students:</strong></p>

            @if (ViewBag.CourseStudents.Count == 0)
            {
                <p>No students yet - you should add some!</p>
            }
            else
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Enrollment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Student student in ViewBag.CourseStudents)
                        {
                            <tr>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                @switch (@student.StatusId)
                                {
                                    case "ConfirmationMessageSent":
                                        statusName = "Confirmation Message Sent";
                                        break;
                                    case "EnrollmentConfirmed":
                                        statusName = "Enrollment Confirmed";
                                        break;
                                    case "EnrollmentDeclined":
                                        statusName = "Enrollment Declined";
                                        break;
                                    default:
                                        statusName = "Confirmation Message Not Sent";
                                        break;
                                }
                                <td>@statusName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <partial name="~/Views/Students/AddStudent.cshtml" model="new Student()"></partial>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <p><strong>Actions:</strong></p>
            <p>
                <form asp-controller="Courses" asp-action="SendConfirmationMessages" method="post">
                    <input type="hidden" name="CourseId" value="@Model.CourseId" />
                    <button type="submit" class="btn btn-primary">Send confirmation messages</button>
                </form>
            </p>
        </div>
    </div>
</section>

