@model Student
@{
    ViewData["Title"] = "ConfirmEnrollment";
}

<section class="page-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Confirmation Response</h1>
            <p><strong>You have been invited to enroll in the @ViewBag.StudentCourse.Name</strong></p>
            <p>
                Hey @Model.Name, you have been invited to enroll in the @ViewBag.StudentCourse.Name in @ViewBag.StudentCourse.Room starting on @ViewBag.StudentCourse.Start.ToString("dd/MM/yyyy")
                with instructor @ViewBag.StudentCourse.Instructor - we would be thrilled to have you join us, but we need to ask you to confirm
                your enrollment!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form asp-controller="Students" asp-action="ConfirmEnrollment" method="post">
                <p>
                    Do you want to enroll?
                    <input type="radio" name="EnrollmentReply" value="Yes" />
                    <label for="">Yes</label>
                    <input type="radio" name="EnrollmentReply" value="No" />
                    <label for="">No</label>
                    
                    <input type="hidden" name="StudentId" value="@Model.StudentId" />
                    <input type="hidden" name="CourseId" value="@ViewBag.StudentCourse.CourseId" />
                    <button type="submit" class="btn btn-primary">Submit response</button>
                </p>
            </form>
        </div>
    </div>
</section>

